*{
    padding: none;
    overflow: hidden;
    font-family: 'Montserrat', 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    zoom: reset; /* Disable zooming */
    cursor: url("/imgs/CrosshairCursor.cur"), crosshair;
}
canvas{
    left:0;
    top:0;
    position: absolute
}
li{
    overflow: visible;
    padding: 5px;
}
button{
    background-color: #007bff;
    color:white;
    border: none;
    padding:5px;
    cursor: url("/imgs/PointerCursor.cur"),pointer;
}
input{ cursor:text }
#startGameBtn{
    color:white;
    background-color: rgb(31, 119, 31);
    font-size: 30px;
    min-height: fit-content;
    border:none;
    filter: brightness(1);
    /*
    border:5px solid;
    border-left-color:rgb(34, 123, 34);
    border-top-color:rgb(34, 123, 34);
    border-right-color:rgb(12, 73, 12);
    border-bottom-color:rgb(12, 73, 12);
    */
    padding-top:7px;
    padding-bottom:7px;
    padding-left: 100px;
    padding-right: 100px;
    margin-top:10;
}
#startGameBtn:hover{
    filter: brightness(0.8);
    color:white;
    /*
    background-color: rgb(20, 96, 20);
    border-right-color:rgb(34, 123, 34);
    border-bottom-color:rgb(34, 123, 34);
    border-left-color:rgb(12, 73, 12);
    border-top-color:rgb(12, 73, 12);
    padding-top:9px;
    padding-bottom:5px;*/
}
#startWorldBtn{
    color:white;
    background-color: rgb(30, 161, 155);
    font-size: 20px;
    min-height: fit-content;
    border: none;
    filter: brightness(1);
    /*
    border:5px solid;
    border-left-color:rgb(82, 147, 209);
    border-top-color:rgb(82, 147, 209);
    border-right-color:rgb(20, 62, 100);
    border-bottom-color:rgb(20, 62, 100);
    */
    padding-top:7px;
    padding-bottom:7px;
    padding-left: 50px;
    padding-right: 50px;
    margin:0;
}
#startWorldBtn:hover{
    color:white;
    filter: brightness(0.8);
    /*
    background-color: rgb(29, 81, 129);
    border-left-color:rgb(82, 147, 209);
    border-top-color:rgb(82, 147, 209);
    border-right-color:rgb(20, 62, 100);
    border-bottom-color:rgb(20, 62, 100);
    padding-top:9px;
    padding-bottom:5px;
    */
}

h1, h2, h3, h4, p {
    color:white;
    padding-left: 5px;
}

/* Common styles for market */
#marketBtnDiv {
    height: 100%;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: flex-end;
}
/* Open market button */
#showMarketBtn {
    display: none;
    background-color: #007bffaa;
    color: white;
    border: none;
    padding: 10px 20px;
    font-size: 200%;
    cursor: url("/imgs/PointerCursor.cur"), pointer;
    position: absolute;
    bottom: 0;
}

/* Market container */
#market {
    z-index: 3;
    display: none;
    flex-direction: column;
    position: absolute;
    width:100%;
    overflow-y: auto; /* Enable vertical scrolling */
}
#marketBackground{
    background-color: #000000cc;
    display: none;
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
}
#marketHeader {
    color:white;
    padding-bottom: 10px;
    align-self: flex-start; 
    min-height: 100px; 
}
/**The one that holds the table*/
#marketBtnContainerContainer {
    padding: 10px;
    margin-top: 10px; /* Add margin between header and table */
    overflow-y: auto; /* Enable vertical scrolling */
    overflow-x: auto; /* Enable vertical scrolling */
    max-height: 400px; /* Set the maximum height to enable scrolling */
    /*position: relative; /* Set position to relative */
}
/**The table*/
#marketBtnContainer {
    padding: 10px;
    border:none;
    width:80%;
    border-collapse: collapse;
    margin: 0 auto;
}
.marketBtnImgs img {
    width: 50px;
    height: 50px;
    padding:10px 5px;
}
.marketBtnText {
    color: white;
    padding:2px 10px;
    margin-bottom: 10px; /* Add margin between items */
}
.buyBtn button{
    padding: 5px 10px;
    border:none;
    color:white;
}

/**/
.text_input{
    border:none;
    padding:10px;
    font-size: 20px;
}

#skin_decider_div{
    min-height: fit-content;
    margin-bottom: 10px;
}
#showcase_skin{display: block;}
#change_skin_btn{
    margin: 0;
    justify-content: right;
    display: inline;
    position: inherit;
}
#change_skin_close_btn{
    display: none;
    position: absolute;
    right:0;
    top:0;
}
#skins-image-options{
    margin: 10px 20px;
    border: 3px solid black;
    background-color: #000000aa;
    display:none;
    position:relative
}
/** Usually spans*/
.skins_imgs_ad_text{
    color:white;
    position:absolute;
    padding:2px 5px;
    font-size: small;
    z-index: 1;
}
.image-options {
    margin: 0;
    display: absolute;/*flex;*/
}

.image-options label {
    margin: 0;
    padding: none;
    flex: 0; /* Equal distribution of space */
}

.skins_imgs {
    width: 50px;
    height: 50px;
    padding: 20px;
    border: 2px solid #ccc;
    rotate: calc(90deg);
    transition: border-color 0.3s ease;
    cursor: url("/imgs/PointerCursor.cur"),pointer;
    background-color: #032b06cc;
}

input[type="radio"] {
    margin: 0;
    padding:0;
    display: none;
}

/* Sliders! Toggle on/off */
.switch {
    position: relative;
    display: inline-block;
    width: 54px; /* Should be 2x of the width of transition */
    height: 28px;
}

.switch input { 
    opacity: 0;
    width: 0;
    height: 0;
}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
    border-radius: 28px;
    filter: brightness(1);
}

.slider:before {
    position: absolute;
    content: "";
    height: 20px;
    width: 20px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
    border-radius: 50%;
}

input:checked + .slider {
    background-color: #2196F3;
}

.slider:hover {
    filter: brightness(0.8);
}

input:checked + .slider:before {
    /** Should be 1/2 of the width of slider */
    -webkit-transform: translateX(27px);
    -ms-transform: translateX(27px);
    transform: translateX(27px);
}


/**
input[type="radio"] + img {
    margin-right: 5px;
}
*/

input[type="radio"]:checked + img {
    border-color: #007bff;
}

.new_label {
    position: fixed;
    background-color: #007bff;
    color: white;
    padding: 5px;
    font-size: 14px;
}

#canv{
    background-color: rgb(33, 48, 33);
}
#info_canv{
    background-color: none;
}

#title{
    color:white;
    text-align: center;
    font-size: 70px;
    min-height: fit-content;
}
/*Background div*/
#preGame_Stuff_OuterDiv{ 
    background-image: url("/imgs/BackgroundImg.png"); /* Set background image */
    background-size: cover; /* Adjust as per your requirement */
    background-position: center; /* Adjust as per your requirement */
    z-index: 1; /* Ensure it's behind other content */
    position: absolute;
    display: block;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100%; /* Set height to 100% of the viewport */
}
/*stuff over background div*/
#preGame_Stuff {
    background-color: #00000000;
    position: absolute;
    top: 0;
    left: 0;

    overflow-y: visible;
    height: 100%;
    width: 100%;
    display: block; /* Add Flexbox */
    /*flex-direction: column; /* Organize as a column */
    justify-content: center; /* Center horizontally */
    align-items: center; /* Center vertically */
}

/* Center all in preGame Div */
#usernameInputDiv, #join_game, #skin_decider_div, #startGameBtnDiv, #createNewWorldDiv{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0;
}
#username{
    margin:10px;
}

#join_game{
    padding:50px;
    margin:0;
}
#join_game_input{
    width:70%;
    max-width: 300px;
}
#joinGameBtn{
    color:white;
    background-color: rgb(43, 115, 182);
    
    min-width: 137px;
    border: none;
    font-size: large;
    
    padding-top:11px;
    padding-bottom:11px;
    padding-left: 20px;
    padding-right: 20px;
    filter: brightness(1);
}
#joinGameBtn:hover{
    color:white;
    filter: brightness(0.8);
}

#gameOver {
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.336);
    display: none;
    z-index: 1;
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    flex-direction: column; 
    justify-content: center;
    align-items: center;
}
#gameOverText {
    background-color: none;
    color: white;
    font-size: 10vw;
    margin-bottom: 0;
}
#deathMessageText {
    background-color: none;
    color: white;
    font-size: 2vw;
}
#rejoinGameBtn, #exitGameBtn{
    margin:0;
    font-size: x-large;
    width: 70%;
    filter: brightness(1);
}
#rejoinGameBtn{
    border:none;
    background-color:#44ad2493;
    color:white;
    padding:10px;
}
#exitGameBtn{
    border: 1px solid #999;
    background-color:#5c5c5c42;
    color:#b3b3b3;
    padding:10px;
}

#rejoinGameBtn:hover, #exitGameBtn:hover{
    filter: brightness(0.8);
}

.padText{
    padding-left:5px;
}
.circleIcons{
    width:40px;
    height: 40px
}
/*pplImgs are also entities or items or structures*/
.pplImgs, .keyIconsOrMouse{
    width:20px;
    height: 20px;
}

#topStuff{
    position: absolute;
    display: flex;
    top: 0px;
    right: 35;
    z-index: 4;
}
/**World ID Div*/
#worldIDDiv{
    display: none;
    border:none;
    padding:10px;
    cursor: pointer;
    z-index: 2;
    background-color: rgba(0, 0, 0, 0.527);
    color:rgb(170, 170, 170);
}
#worldIDSpan {
    color:white;
    cursor:copy
}

#worldIDCopySuccessDiv{
    display:none;
    background-color: rgba(0, 128, 0, 0.404);
    color: white;
}

/** Icon buttons */
#helpBtn, #settingsBtn, #exitGameIconBtn{
    padding:5px;
    cursor: pointer;
    width: 30px;
    height: 30px;
    filter: brightness(1);
}
#helpBtn:hover, #settingsBtn:hover{
    filter: brightness(0.8);
}
#exitGameIconBtn{
    display: none;
}
/**Help*/
#help, #settings{
    padding-left:10px;
    color:white;
    overflow: overlay;
    top:0;
    right:0;
    position: absolute;
    width: 100vw;
    height: 100vh;
    background-color: rgb(0, 0, 0, 0.85);
    display: none;
    z-index: 4; /*Above EVERYTHING ELSE (except for topStuff) */
}

/** Settings */
.switchSets{
    padding: 10px;
}
.settingsP{
    font-size: 24px; /*A little less than the height of the sliders*/
}

/*scroll bar*/
::-webkit-scrollbar {
    width: 15px;
}
::-webkit-scrollbar-track {
    background: #aaaaaa; 
}
::-webkit-scrollbar-thumb {
    background: #888; 
}
::-webkit-scrollbar-thumb:hover {    
    background: #555; 
}

.rot90deg {
    transform: rotate(270deg);
}

.no_selection {
    user-select: none; /* standard syntax */
    -webkit-user-select: none; /* webkit (Safari, Chrome) browsers */
    -moz-user-select: none; /* Mozilla browsers */
    -khtml-user-select: none; /* Webkit (Konqueror) browsers */
    -ms-user-select: none; /* IE10+ */
}

#wait {
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #000000dd;
    text-align: center; /* Center horizontally */
}

#waitText {
    font-size: 40px;
    color: white;
    line-height: 100vh; /* Center vertically */
}

/*"Key" images inside of the help page*/
#keyImgTable {
    color: white;
    border-color: black; /* Change border color */
    border-width: 1px; /* Reduce border width */
    border-style: solid; /* Add border style */
    padding: 15px;
}

.keyImgTDs{
    padding-left:15px
}
.keyTDs{
    padding-left:15px;
    padding-right:15px;
    align-items: center;
    justify-content: center;
    border-right-width: 2px;
    border-right-color: white;
}
.keyImg{
    width: 30px;
    height: 30px
}
.longKeyImg{
    width: 60px;
}

/** Inventory durability display if hovering over */
#floatingDurabilityDiv, #floatingInfoDiv{
    background-color: #000000aa;
    color:rgb(212, 212, 212);
    border:2px solid black;
    top:0;
    left:0;
    position: absolute;
    display: none;
    z-index: 2;
    padding: 10px;
    font-size: 15px;
}


#inGame_Stuff{
    position: absolute;
    display: none;
    background-color: #00000000;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

#leaderboard{
    position: absolute;
    right: 0;
    top: 50;
    padding: 10px;
    background-color: #00000091;
    color: white;
}
#leaderboardHeading{
    font-size: large;
}
#leaderboardSlotDiv{
    display: flex;
    flex-direction: column;
}
#leaderboardSlot1, #leaderboardSlot2, #leaderboardSlot3, #leaderboardSlot4, #leaderboardSlot5{
    padding-top: 10px;
    padding-bottom: 10px;
    color: white;
    font-size: medium;
}

#playersInServer{
    font-size: x-small;
}

#healthBar, #healthBarBackground, #healthText{
    position: absolute;
    bottom: 0;
    width:100%;    
    height: 30px;
    padding:5px;
}
#healthBar{
    background-color: #00c4c4d3;
}
#healthBarBackground{
    background-color: #00000081;
}
#healthText{
    color:white;
    font-size: 20px;
}