*{
    padding: none;
    overflow: hidden;
    font-family: 'Montserrat', 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    zoom: reset; /* Disable zooming */
    cursor: url("/imgs/CrosshairCursor.cur"), crosshair;
}
canvas{
    left:0;
    top:0;
    position: absolute
}
li{
    overflow: visible;
    padding: 5px;
}
button{
    cursor: url("/imgs/PointerCursor.cur"),pointer;
}
#startGameBtn{
    color:white;
    background-color: rgb(31, 119, 31);
    font-size: 40px;
    border:5px solid;
    border-left-color:rgb(34, 123, 34);
    border-top-color:rgb(34, 123, 34);
    border-right-color:rgb(12, 73, 12);
    border-bottom-color:rgb(12, 73, 12);
    padding-top:7px;
    padding-bottom:7px;
    padding-left: 100px;
    padding-right: 100px;
    margin:0;
    /*
    position:absolute;
    top:65%;
    left:50%;
    transform: translate(-50%, -35%);*/
}
#startGameBtn:hover{
    color:white;
    background-color: rgb(20, 96, 20);
    border-right-color:rgb(34, 123, 34);
    border-bottom-color:rgb(34, 123, 34);
    border-left-color:rgb(12, 73, 12);
    border-top-color:rgb(12, 73, 12);
    padding-top:9px;
    padding-bottom:5px;
}
#exitGameBtn{
    top:0;
    left:0;
    margin:0;
    position:absolute;
    border:none;
    background-color:#90c0f3;
    padding:10px;
    display:none;
}

/* Common styles for market */
#marketBtnDiv {
    height: 100%;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: flex-end;
}
/* Open market button */
#showMarketBtn {
    display: none;
    background-color: #007bffaa;
    color: white;
    border: none;
    padding: 10px 20px;
    font-size: 200%;
    cursor: url("/imgs/PointerCursor.cur"), pointer;
    position: absolute;
    bottom: 0;
}

/* Market container */
#market {
    display: none;
    flex-direction: column;
    position: absolute;
    width:100%;
    overflow-y: auto; /* Enable vertical scrolling */
}
#marketBackground{
    background-color: #000000cc;
    display: none;
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
}
#marketHeader {
    color:white;
    padding-bottom: 10px;
    align-self: flex-start; 
    min-height: 100px; 
}
/**The one that holds the table*/
#marketBtnContainerContainer {
    padding: 10px;
    margin-top: 10px; /* Add margin between header and table */
    overflow-y: auto; /* Enable vertical scrolling */
    max-height: 400px; /* Set the maximum height to enable scrolling */
    /*position: relative; /* Set position to relative */
}
/**The table*/
#marketBtnContainer {
    padding: 10px;
    border:none;
    width:80%;
    border-collapse: collapse;
    margin: 0 auto;
}
.marketBtnImgs img {
    width: 50px;
    height: 50px;
    padding:10px 5px;
}
.marketBtnText {
    color: white;
    padding:2px 10px;
    margin-bottom: 10px; /* Add margin between items */
}
.buyBtn button{
    padding: 5px 10px;
    border:none;
    color:white;
}

/**/
.text_input{
    border:none;
    padding:10px;
    font-size: 20px;
}

.image-options {
    margin: 0;
    display: flex;
}

.image-options label {
    margin: 0;
    padding: 0;
    flex: 1; /* Equal distribution of space */
}

.skins_imgs {
    width: 50px;
    height: 50px;
    padding: 20px;
    border: 2px solid #ccc;
    rotate: calc(90deg);
    transition: border-color 0.3s ease;
    cursor: url("/imgs/PointerCursor.cur"),pointer;
    background-color: #032b06cc;
}

input[type="radio"] {
    display: none;
}

input[type="radio"] + img {
    margin-right: 5px;
}

input[type="radio"]:checked + img {
    border-color: #007bff;
}

.new_label {
    position: fixed;
    background-color: #007bff;
    color: white;
    padding: 5px;
    font-size: 14px;
}

#canv{
    background-color: rgb(33, 48, 33);
}
#info_canv{
    background-color: none;
}

#title{
    color:white;
}
#preGame_Stuff {
    background-image: url("/imgs/BackgroundImg.png"); /* Set background image */
    background-size: cover; /* Adjust as per your requirement */
    background-position: center; /* Adjust as per your requirement */
    z-index: 1; /* Ensure it's behind other content */
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    position: absolute;
    display: flex; /* Add Flexbox */
    flex-direction: column; /* Organize as a column */
    justify-content: center; /* Center horizontally */
    align-items: center; /* Center vertically */
}

#username{
    margin:0;
}

#gameOver {
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.661);
    display: none;
    z-index: 1;
}
#gameOverText {
    background-color: none;
    color: white;
    font-size: 10vw;
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}
#deathMessageText {
    background-color: none;
    color: white;
    font-size: 2vw;
    position: fixed;
    top:55%;
    left: 0;
    right: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.padText{
    padding-left:5px;
}
.circleIcons{
    width:40px;
    height: 40px
}
/*pplImgs are also entities or items or structures*/
.pplImgs, .keyIconsOrMouse{
    width:20px;
    height: 20px;
}
#helpBtn {
    border:none;
    padding:10px;
    position: absolute;
    top: 0px;
    right: 25;
    cursor: url("/imgs/PointerCursor.cur"),pointer;
    z-index: 2;
    background-color: aqua;
    color:black;
    animation: btn_anim 0.5s linear 4;
    z-index: 3; /*Above help page*/
} 
#helpBtn:hover{
    opacity: 1;
    background-color: rgb(19, 133, 137);
    color:rgb(225, 225, 225);
    transition: 1s ease;
    content: "?";
    animation-play-state: paused;
}
#help{
    color:white;
    overflow: overlay;
    top:0;
    right:0;
    position: absolute;
    width: 100vw;
    height: 100vh;
    background-color: rgb(0, 0, 0, 0.85);
    display: none;
    z-index: 2; /*Above starting page*/
}
/*scroll bar*/
::-webkit-scrollbar {
    width: 15px;
}
::-webkit-scrollbar-track {
    background: #aaaaaa; 
}
::-webkit-scrollbar-thumb {
    background: #888; 
}
::-webkit-scrollbar-thumb:hover {    
    background: #555; 
}

.rot90deg {
    transform: rotate(270deg);
}

.no_selection {
    user-select: none; /* standard syntax */
    -webkit-user-select: none; /* webkit (Safari, Chrome) browsers */
    -moz-user-select: none; /* Mozilla browsers */
    -khtml-user-select: none; /* Webkit (Konqueror) browsers */
    -ms-user-select: none; /* IE10+ */
}

#wait {
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #000000dd;
    text-align: center; /* Center horizontally */
}

#waitText {
    font-size: 40px;
    color: white;
    line-height: 100vh; /* Center vertically */
}

/*"Key" images inside of the help page*/
#keyImgTable {
    color: white;
    border-color: black; /* Change border color */
    border-width: 1px; /* Reduce border width */
    border-style: solid; /* Add border style */
    padding: 15px;
}

.keyImgTDs{
    padding-left:15px
}
.keyTDs{
    padding-left:15px;
    padding-right:15px;
    align-items: center;
    justify-content: center;
    border-right-width: 2px;
    border-right-color: white;
}
.keyImg{
    width: 30px;
    height: 30px
}
.longKeyImg{
    width: 60px;
}